<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.BookingMapper">
<!-- 	<cache></cache> -->

	<!-- result maps -->
	<resultMap type="com.atp.solicitudes.model.Booking" id="Booking">
		<result property="id" column="BOOKING_GKEY" />
		<result property="nombre" column="BOOKING" />
		<result property="linea" column="LINE_OP" />
		<result property="pod" column="POD" />
		<result property="podName" column="POD_NAME" />
		<result property="fpod" column="FPOD" />
		<result property="fpodName" column="FPOD_NAME" />
		<result property="fk" column="EQ_STATUS" />
		<result property="buqueViaje" column="VESSEL_VOYAGE" />
		<result property="buqueViajeNombre" column="VESSEL_NAME" />
	</resultMap>
	
	<!-- base queries -->
	<sql id="base_query">select * from BOOKING_VIEW</sql>
	<sql id="base_query_">SELECT BOOKING_GKEY,BOOKING,LINE_OP,POD, POD_NAME,FPOD  FROM BOOKING_VIEW </sql>
	<sql id="base_count">select count(*) from BOOKING_VIEW</sql>
	
	<select id="selectById" resultMap="Booking" parameterType="int">
		<include refid="base_query"/> where BOOKING_GKEY = #{id}
	</select>
	<select id="selectCount" resultMap="Booking" parameterType="int">
		<include refid="base_count"/> where BOOKING_GKEY = #{id}
	</select>
	
	<select id="selectByNombre" resultMap="Booking" parameterType="String">
		<include refid="base_query"/> where BOOKING = #{nombre}
	</select>

	<!-- distinct queries -->
	<resultMap type="com.objectwave.utils.SimpleEntry" id="SimpleEntry_Id_Name">
		<result property="key" column="BOOKING_GKEY" />
		<result property="value" column="BOOKING" />
	</resultMap>

	<select id="selectDistinct" resultMap="SimpleEntry_Id_Name" parameterType="map" useCache="false">
		select distinct BOOKING_GKEY, ${columnName} from BOOKING_VIEW where ${columnName} like #{columnValue} order by ${columnName} asc
	</select>
	
	<select id="selectEqualsByName" resultMap="Booking" parameterType="map" useCache="false">
		select BOOKING_GKEY, ${columnName}, LINE_OP from BOOKING_VIEW where ${columnName} = #{columnValue} order by LINE_OP asc
	</select>
</mapper>