<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.reports.ContenedoresLlenos_EntregaPorPuertaMapper">
	<!-- <cache></cache> -->

	<!-- result maps -->
	<resultMap
		type="com.atp.solicitudes.reports.model.ContenedoresLlenos_EntregaPorPuerta"
		id="ContenedoresLlenos_EntregaPorPuerta">
		<result property="contenedor" column="CONTENEDOR" />
		<result property="tipo" column="TIPO" />
		<result property="fechaDeSalida" column="FECHASALIDA" />
		<result property="estatus" column="ESTATUS" />
	</resultMap>

	<!-- base queries -->
	<sql id="base_query">
<![CDATA[

select UNIT_VIEW.UNIT_NBR AS CONTENEDOR,
  UNIT_VIEW.TYPE_ISO AS TIPO,
  UNIT_VIEW.TIME_OUT AS FECHASALIDA,
  'IMPORT' AS ESTATUS
from
  UNIT_VIEW
  where TRIM(UNIT_VIEW.T_STATE) = 'DEPARTED' 
  AND UNIT_VIEW.LINE_OP NOT IN ('HLC', 'NYK', 'CMA', 'TSH', 'SLI', 'OOL', 'CPL','NCL')
  AND UNIT_VIEW.CATEGORY = 'IMPRT'
  AND TRIM(UNIT_VIEW.FRGHT_KIND) = 'FCL'
  AND UNIT_VIEW.TIME_OUT IS NOT NULL
  AND UNIT_VIEW.UNIT_NBR = upper(#{digito_verificador})
  AND UNIT_VIEW.CONSIGNEE_ID is null
  AND UNIT_VIEW.T_STATE<> 'INBOUND'

]]>
	</sql>	

	<select id="selectByDigitoVerificador" resultMap="ContenedoresLlenos_EntregaPorPuerta" parameterType="map">
		<include refid="base_query" />
	</select>
</mapper>