<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.reports.PaseDeEntradaReportMapper">
	<!-- <cache></cache> -->
	<resultMap type="com.atp.solicitudes.reports.model.PaseDeEntradaReport" id="PaseDeEntradaReport">
		<result property="gav_appNbr" column="APP_NBR" /> 
		<result property="gav_transTypeName" column="TRANS_TYPE_NAME" />
		<result property="gav_state" column="STATE" />
		<result property="gav_creator" column="CREATOR" />	
		<result property="gav_startDate" column="START_DATE" />
		<result property="gav_endDate" column="END_DATE" />
		<result property="gav_lineOp" column="LINE_OP" />	
		<result property="gav_gateId" column="GATE_ID" />
		<result property="gav_gateDescription" column="GATE_DESCRIPTION" />
		<result property="gav_truckLicence" column="TRUCK_LICENCE" />
		<result property="gav_truckingCompany" column="TRUCKING_COMPANY" />
		<result property="gav_driverName" column="DRIVER_NAME" />
		<result property="gav_driverLicenseNbr" column="DRIVER_LICENSE_NBR" />
		<result property="gav_unitNbr" column="UNIT_NBR" />
		<result property="gav_custidName" column="CUSTID_NAME" />
		<result property="gav_booking" column="BOOKING" />
		<result property="gav_bookingTypeIso" column="BOOKING_TYPE_ISO" />
		<result property="gav_bookingTypeDescription" column="BOOKING_TYPE_DESCRIPTION" />
		<result property="gav_notes" column="GNOTES" />	
		<result property="gav_booking_gkey" column="BOOKING_GKEY" />
		<result property="gav_shipcustid" column="SHIPCUSTID" />
		
		<result property="uv_typeIso" column="TYPE_ISO" />
		<result property="uv_weight" column="WEIGHT" />	
		<result property="uv_temporal" column="TEMPORAL" />
		<result property="uv_previoExpress" column="PREVIO_EXPRESS" />
		<result property="uv_special" column="SPECIAL" />
		<result property="uv_recintoTit" column="RECINTO_TIT" />
		<result property="uv_typeIsoName" column="TYPE_ISO_NAME" />
		<result property="uv_hzrdGkey" column="HZRD_GKEY" />
		<result property="uv_tempRequired" column="TEMP_REQUIRED" />
		<result property="uv_ventRequiredPct" column="VENT_REQUIRED_PCT" />
		<result property="uv_ventUnit" column="VENT_UNIT" />
		<result property="uv_isDim" column="IS_DIM" />
		<result property="uv_oogLeft" column="OOG_LEFT" />
		<result property="uv_oogRight" column="OOG_RIGHT" />
		<result property="uv_oogTop" column="OOG_TOP" />
		<result property="uv_oogBack" column="OOG_BACK" />		
		<result property="uv_oogFront" column="OOG_FRONT" />
		<result property="uv_o2Pct" column="O2_PCT" />	
		<result property="uv_co2Pct" column="CO2_PCT" />
		<result property="uv_complexPosition" column="COMPLEX_POSITION" />
		<result property="uv_unitGkey" column="UNIT_GKEY" />
		<result property="uv_consigneeId" column="CONSIGNEE_ID" />
		<result property="uv_category" column="CATEGORY" />
		<result property="uv_etiquetaUndg" column="ETIQUETA_UN" />
	
		<result property="bv_notes" column="BNOTES" />
		 
		<result property="biv_grade" column="GRADE" />
		<result property="biv_remarks" column="REMARKS" />
		
		<result property="rbsv_name" column="NAME" />
		<result property="rbsv_notes" column="RSNOTES" />
		<result property="rbsv_ctName" column="CT_NAME" />
		<result property="rbsv_addressLine1" column="ADDRESS_LINE1" />
		<result property="rbsv_city" column="CITY" />
		
		<result property="vvv_vesselVoyage" column="VESSEL_VOYAGE" />
		<result property="vvv_vesselName" column="VESSEL_NAME" />
		<result property="vvv_voyageIn" column="VOYAGE_IN" />
		<result property="vvv_voyageOut" column="VOYAGE_OUT" />
		
		<result property="uhv_hzrdGkey" column="HZRD_GKEY" />
		<result property="uhv_imdgClass" column="IMDG_CLASS" />
		<result property="uhv_hzrdDescription" column="HZRD_DESCRIPTION" />
		<result property="uhv_marinePollutants" column="MARINE_POLLUTANTS" />
	</resultMap>
	
	<resultMap type="com.atp.solicitudes.reports.model.PaseDeEntradaReport" id="PaseDeEntradaReportHazard">
		<result property="uhv_hzrdGkey" column="HZRD_GKEY" />
		<result property="uhv_imdgClass" column="IMDG_CLASS" />
		<result property="uhv_hzrdDescription" column="HZRD_DESCRIPTION" />
		<result property="uhv_marinePollutants" column="MARINE_POLLUTANTS" />
	</resultMap>
	
	<!-- base queries -->	
	
	
	<sql id="pase_entrada_query" >
		<![CDATA[
	select 
        GAV.APP_NBR, GAV.BOOKING_GKEY, GAV.CREATOR, GAV.TRUCKING_COMPANY, GAV.TRUCK_LICENCE,  GAV.TRANS_TYPE_NAME,GAV.DRIVER_NAME, 
        GAV.UNIT_NBR,  UV.TYPE_ISO,GAV.BOOKING, GAV.LINE_OP, UV.TYPE_ISO_NAME, UV.TEMP_REQUIRED, 
        GAV.GATE_DESCRIPTION,  RBSV.NAME,  RBSV.ADDRESS_LINE1, RBSV.CITY,
        GAV.CUSTID_NAME, RBSV.CT_NAME, RBSV.NOTES as RSNOTES, UV.TEMPORAL,
        UV.WEIGHT, VVV.VESSEL_VOYAGE,UV.PREVIO_EXPRESS,
        UV.RECINTO_TIT, GAV.START_DATE, GAV.END_DATE, UV.HZRD_GKEY, BV.NOTES as BNOTES, GAV.GATE_ID,GAV.NOTES as GNOTES,
        GAV.BOOKING_TYPE_ISO, UV.SPECIAL, GAV.STATE, GAV.BOOKING_TYPE_DESCRIPTION, BIV.GRADE,
        UV.OOG_LEFT, UV.OOG_RIGHT, UV.OOG_TOP, UV.OOG_BACK, UV.OOG_FRONT, UV.ETIQUETA_UN,
        UV.IS_DIM, GAV.DRIVER_LICENSE_NBR, BIV.REMARKS, UV.O2_PCT, UV.CO2_PCT, VVV.VESSEL_NAME,
        VVV.VOYAGE_IN, VVV.VOYAGE_OUT, UV.VENT_REQUIRED_PCT, UV.VENT_UNIT, UV.COMPLEX_POSITION, UV.CONSIGNEE_ID, UV.CATEGORY, GAV.SHIPCUSTID 
           from GATE_APPOINTMENT_VIEW GAV
             left join UNIT_VIEW UV ON GAV.UNIT_GKEY = UV.UNIT_GKEY
             left join REF_BIZUNIT_SCOPED_VIEW RBSV ON GAV.SHIPCUSTID_GKEY = RBSV.GKEY
             left join BOOKING_VIEW BV ON GAV.BOOKING_GKEY = BV.BOOKING_GKEY
             left join BOOKING_ITEM_VIEW BIV ON GAV.BOOKING_ITEM_GKEY = BIV.BOOKING_ITEM_GKEY
             left join VESSEL_VISIT_VIEW VVV ON GAV.VESSEL_VISIT_GKEY = VVV.CARRIER_VISIT_ID
		]]>
	</sql>
	<select id="selectPaseDeEntradaReport" resultMap="PaseDeEntradaReport" parameterType="int">
		<include refid="pase_entrada_query"/> where GAV.APP_NBR=#{gav_appNbr}
	</select>
	
	<select id="selectPaseDeEntradaReportHazard" resultMap="PaseDeEntradaReportHazard" parameterType="int">
		select * from UNIT_HZRD_VIEW where HZRD_GKEY=#{uhv_hzrdGkey}
	</select>
	
</mapper>